In [1]:
import os
import pandas as pd
from datetime import datetime, timedelta
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
import sys
sys.path.append(r'/home/gabriel/Documents/proj/utils/')
from utils import createSparkSesion
from pyspark.sql import (functions as F,
                                        Window)
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#nao esquecer , pra criar um df spark a funcao spark.createDataFrame([lista de tuplas com os dados],schema=schema em structType)
# row number precisa ser ordenada por algo
# rank pula a posicao em caso de empate dense rank segue a contagem , rank ex(1,2,2,4) dense rank ex(1,2,2,3)
# nulos , dropar , colocar um valor padrao , pra strings ou valores inteiros ,podendo ser um valor calculado dependendo da regra de negocio

In [3]:
spark = createSparkSesion()

25/05/20 21:47:47 WARN Utils: Your hostname, GabrielUnbunto resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
25/05/20 21:47:47 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
25/05/20 21:47:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/20 21:47:48 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/05/20 21:47:48 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

<pyspark.sql.session.SparkSession object at 0x7f4a819d1700>

In [4]:
spark

In [5]:
path = "/home/gabriel/Documents/local_datasets/raw/archive/athletes.csv"

In [6]:
schema = StructType([
    StructField("id",               IntegerType(),  nullable=True),
    StructField("name",             StringType(),   nullable=True),
    StructField("gender",           StringType(),   nullable=True),
    StructField("age",              IntegerType(),  nullable=True),
    StructField("height",           IntegerType(),  nullable=True),
    StructField("weight",           IntegerType(),  nullable=True),
    StructField("team",             StringType(),   nullable=True),
    StructField("noc",              StringType(),   nullable=True),
    StructField("games",            StringType(),   nullable=True),
    StructField("year",             IntegerType(),  nullable=True),
    StructField("season",           StringType(),   nullable=True),
    StructField("city",             StringType(),   nullable=True),
    StructField("sport",            StringType(),   nullable=True),
    StructField("event",            StringType(),   nullable=True),
    StructField("medal",            StringType(),   nullable=True)
])

In [7]:
competitios_history = spark.read.csv(path , header = True , schema = schema)

In [8]:
competitios_history.takePandas()

,id,name,gender,age,height,weight,team,noc,games,year,season,city,sport,event,medal
0,1,A Dijiang,M,24,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NA
1,2,A Lamusi,M,23,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NA
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NA
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NA

In [9]:
competitios_history.count_nulls()

,id,name,gender,age,height,weight,team,noc,games,year,season,city,sport,event,medal
0,0,0,0,9474,60171,63933,0,0,0,0,0,0,0,0,0