<h1>Imports

In [1]:
import pandas as pd
from pyspark.sql import SparkSession

<h3>Create spark session

In [2]:

spark = SparkSession.builder \
    .appName("Analises") \
    .getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x0000028A94547170>

<h2>Functions

In [14]:
def takePandas(self, n):
    rows = self.take(n)
    df = pd.DataFrame(rows, columns=self.columns)
    return df

<h2>Code

In [12]:
df = spark.read.csv("..\..\datasets\Most Streamed Spotify Songs 2024.csv",header=True)

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
C:\Users\bield\AppData\Local\Temp\ipykernel_25188\539714992.py:1: SyntaxWarning: invalid escape sequence '\.'
  df = spark.read.csv("..\..\datasets\Most Streamed Spotify Songs 2024.csv",header=True)

In [16]:
takePandas(df,1)

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62,"17,598,718",114,"18,004,655","22,931","4,818,457","2,669,262",None,0